.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.container__conteudo {
    width: 615px;
}

.container__titulo {
    font-family: Krona One;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    color: var(--cor-fonte-primaria);
}

.titulo__destaque {
    color: var(--cor-destaque);
}

.container__texto {
    font-family: Montserrat;
    color: var(--cor-fonte-primaria);
}

.container__links {
    display: flex;
    justify-content: space-between;
}

.btn__ancora {
    border-radius: 16px;
    width: 280px;
    text-align: center;
    background-color: var(--cor-destaque);
    padding: 21.5px 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-fundo);
}